.progress-bar, #overallProgressTracker {
    background-color: #f3f3f3; 
}

.progress-container {
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
 
}

.progress {
    height: 100%;
    background-color: rgb(128, 28, 0);
    width: 0%; /* This will be dynamically set */
    transition: width 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px; /* Add border radius if needed */
}

.progress-bar label, #overallProgressTracker label {
    font-weight: bold;
    margin-right: 10px;
}

.management-container {
    display: flex;
    gap: 20px; /* Adjust gap as needed */
}

#moduleList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    flex: 1; /* Adjust to balance the space between module list and progress bars */
}

#progressTrackers {
    flex: 1; /* Adjust to balance the space between module list and progress bars */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between progress bars */
    list-style: none;
}

.progress-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#overallProgressTracker {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vertical-align-top {
    vertical-align: top;
}
td ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

td ul li {
    padding: 3px 0;
}
.completed {
    text-decoration: line-through;
    color: red;
}
