#h1-enroll{
    margin-bottom:0.5em;
    margin-top: 1em;
}
#enrollmentForm {
   padding-left: 10%;   
}

#enrollmentForm input {
    padding: var(--base-spacing);
    border: 1px solid #080500;
    background-color: #ffd8a5;
    border-radius: 5px;
}


