body {
    background-image: url('pics/HappyFakeSmiles.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 14.29vh;
}
.header-logo img {
    height: 100%;
}
.navbar-nav {
    margin: auto;
}
.navbar-nav .nav-link {
    font-size: 1.25rem;
}
.slogan-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
}
.slogan {
    color: #d9534f;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}
