html, body {
    scroll-behavior: smooth;
}

body {
    background-color: #CBCBCB;
    margin: 0;
    font-size: 14px;
    color: #2E373A;
    font-family: "Libre Baskerville", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header img {
    height: 40px;
}

.main {
    width: min(1400px, 100vw);
    margin: auto;
    padding: 20px;
}

/* Styles for the hero section */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content {
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    padding: 100px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 10px auto;
}

.article-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
    transform-origin: bottom;
    
}
.animate-header-image {
    animation: header-image-animation 5s ease-out forwards;
}
@keyframes fade-out {
    to { 
        opacity: 0; 
    }
}

@keyframes header-image-animation {
    25% { 
        opacity: 1; 
    }
    85%, 100% { 
        opacity: 0; 
        transform: scale(3); 
    }
}

.navbar {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 0;
}
 .nav-link {
    color: white !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


/* Scroller style */
.scroller {
    max-width: 600px;
    /* Center the scroller and add a grey border */

    margin: 0 auto; /* Center the scroller */
    border: 2px solid grey; /* Add grey border */
    padding: 10px; /* Optional padding inside the border */
    border-radius: 10px; /* Optional: add rounded corners */
}


.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

/* Scroller animations */
.scroller[data-direction="right"] {
    --animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --animation-direction: forwards;
}

/* Keyframes for background color shift */
@keyframes bg-shift {
    from { background-color: red; }
    to { background-color: yellow; }
}

/* Keyframes for scrolling effect */
@keyframes scrolling {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}
/* Infinite marquee style for footer */
.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #444;
    padding: 10px 0;
}

.track {
    display: flex;
    width: calc(1273px * 24); /* Adjust the width based on the number of images */
    animation: scroll 10s linear infinite;
}

.track img {
    width: 80px; /* Adjust the width of each image */
    height: auto;
    padding: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-80px * 12)); /* Move left by the width of 12 images */
    }
}

/* Scroll animation style */
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    margin: 20px 0;
}

section p {
    font-size: 1.2rem;
    max-width: 800px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
