#modules {
    margin-top: var(--base-spacing);
}

.module-item {
    list-style: none;
    padding: var(--base-spacing);
}

.module-item.completed {
    text-decoration: line-through;
    color: gray;
}
